html {
  font-size: 62.5%;
}

html,
body,
#app {
  height: 100%;
  min-height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
  font-family: $quicksand;
  font-size: $font-size-base;
  line-height: 1.4;
  color: $neutral-50;
  letter-spacing: -0.015em;
  background: rgb(67 18 153);
  background: linear-gradient(180deg, rgb(67 18 153 / 100%) 25%, rgb(52 13 121 / 100%) 50%, rgb(38 0 88 / 100%) 75%);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: geometricprecision;
}

body [class*="p-"] {
  font-family: $quicksand;
}